<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>   
</head>
<div class="loader">
<header>
      <div class="container">
        <div class="header-left">
          <a href="/">
          <img class="logo" alt="Flower" height="50" src="/assets/logo.png" width="120" />
          </a>
           <a href="" id="time_result" class="time"></a>
        </div>
         
        <div class="header-right">
          <a href="/users/<%= @post.user.id %>">投稿者ユーザーページ</a>
          <%if user_signed_in?%>
          <%= link_to '投稿に対しての評価一覧', evaluation_path(@post.id) %>
          <%= link_to '投稿内容', post_path(@post) %>
          <%else%>
          <%= link_to '新規登録', new_user_registration %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%end%>
        </div>
      </div>
    </header>




    


      <div class="evaluation-forms">
      <div class="evaluation-h1">
      <h1>📝 フィードバックフォーム 📝</h1></div>
      <div class="evaluation-user">
      <p>
        <strong>⭐️ 投稿者:</strong>
        <a href="/users/<%= current_user.id %>">
        <%= current_user.nickname %></a><%="⭐️"%>
      </p>
      </div>

      <%= form_with model: @evaluation, url:post_evaluations_path, local: true do |f|%>

      <% if @evaluation.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% @evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
   
      <% end %>
      
      <div class="star-rate" id="star">
        <%= f.label :rate,'😊 総合評価', class:'star-label' %>
        <%= f.hidden_field :rate, id: :review_star, class:"star" %>
      </div>

      <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'evaluation[rate]',
        half: true,
      });
      </script>  

      <div class="evaluation-comments">
       <%= f.label :comment, '😆 コメント ', class:'comment-label' %>
       <%= f.text_area :comment, class: "comment-form", rows: "8",
        placeholder:'投稿に対するご意見、ご感想のご記入お願い致します' %>
      </div>
       <div class="ev-text">
       <p>※質問内容の記載がない場合は投稿者が編集ページで修正をお願い致します.</p>
       <p>※投稿者ユーザーページ→チャットページでメッセージを送れます.</p></div>
        
        <div class='questions-field'>
          <div class='fields-label'>
          <%= "質問①: "%><%=@post.number1 %><br>
            <%= f.radio_button :first_id, 1 %>
            <label for="evaluation_first_id_1">素晴らしい</label>
            <%= f.radio_button :first_id, 2 %>
            <label for="evaluation_first_id_2">良い</label>
            <%= f.radio_button :first_id, 3 %>
            <label for="evaluation_first_id_3">普通</label>
            <%= f.radio_button :first_id, 4 %>
            <label for="evaluation_first_id_4">あまり良くない</label>
            <%= f.radio_button :first_id, 5 %>
            <label for="evaluation_first_id_5">要改善</label>
          </div>
         </div> 
         

         <div class='questions-field'>
          <div class='fields-label'>
          <%= "質問②: "%><%=@post.number2 %><br>
            <%= f.radio_button :second_id, 1 %>
            <label for="evaluation_second_id_1">素晴らしい</label>
            <%= f.radio_button :second_id, 2 %>
            <label for="evaluation_second_id_2">良い</label>
            <%= f.radio_button :second_id, 3 %>
            <label for="evaluation_second_id_3">普通</label>
            <%= f.radio_button :second_id, 4 %>
            <label for="evaluation_second_id_4">あまり良くない</label>
            <%= f.radio_button :second_id, 5 %>
            <label for="evaluation_second_id_5">要改善</label>
          </div>
         </div> 

         <div class='questions-field'>
          <div class='fields-label'>
          <%= "質問③: "%><%=@post.number3 %><br>
            <%= f.radio_button :third_id, 1 %>
            <label for="evaluation_third_id_1">素晴らしい</label>
            <%= f.radio_button :third_id, 2 %>
            <label for="evaluation_third_id_2">良い</label>
            <%= f.radio_button :third_id, 3 %>
            <label for="evaluation_third_id_3">普通</label>
            <%= f.radio_button :third_id, 4 %>
            <label for="evaluation_third_id_4">あまり良くない</label>
            <%= f.radio_button :third_id, 5 %>
            <label for="evaluation_third_id_5">要改善</label>
          </div>
        </div>

         <div class='questions-field'>
          <div class='fields-label'>
          <%= "質問④: "%><%=@post.number4 %><br>
            <%= f.radio_button :fourth_id, 1 %>
            <label for="evaluation_fourth_id_1">素晴らしい</label>
            <%= f.radio_button :fourth_id, 2 %>
            <label for="evaluation_fourth_id_2">良い</label>
            <%= f.radio_button :fourth_id, 3 %>
            <label for="evaluation_fourth_id_3">普通</label>
            <%= f.radio_button :fourth_id, 4 %>
            <label for="evaluation_fourth_id_4">あまり良くない</label>
            <%= f.radio_button :fourth_id, 5 %>
            <label for="evaluation_fourth_id_5">要改善</label>
          </div>
         </div> 

          <div class='questions-field'>
          <div class='fields-label'>
          <%= "質問⑤: "%><%=@post.number5 %><br>
            <%= f.radio_button :fifth_id, 1 %>
            <label for="evaluation_fifth_id_1">素晴らしい</label>
            <%= f.radio_button :fifth_id, 2 %>
            <label for="evaluation_fifth_id_2">良い</label>
            <%= f.radio_button :fifth_id, 3 %>
            <label for="evaluation_fifth_id_3">普通</label>
            <%= f.radio_button :fifth_id, 4 %>
            <label for="evaluation_fifth_id_4">あまり良くない</label>
            <%= f.radio_button :fifth_id, 5 %>
            <label for="evaluation_fifth_id_5">要改善</label>
          </div>
         </div> 

      <div class="actions">
       <%= f.submit class:"evaluations-btn"%>
      </div>
    <% end %>
  </div>
</div>
</div>