<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h5>フィードバック作成フォーム</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @evaluation, url:post_evaluations_path, local: true do |f|%>

      <% if @evaluation.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% @evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      </div>
      <% end %>


      <!--商品コードの送信-->
        <%#= f.hidden_field :post_id, { value: @post.id} %>

        <!-- 評価 -->
      <div class="form-group row" id="star">
        <%= f.label :rate,'総合評価', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :rate, id: :review_star %>
      </div>

      <!-- 評価javascript -->
      <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'evaluation[rate]',
        half: true,
      });
      </script>  

      <!-- 口コミ -->
      <div class="form-group row">
        <%= f.label :comment, 'コメント ', class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
       <%= f.text_area :comment, class: "form-control", rows: "8",
        placeholder:'投稿に対するご意見、ご感想のご記入お願い致します' %>
      </div>
      </div>

        
        <div class='field'>
          <div class='field-label'>
          <%= f.label :"購入意欲" %>
            <label><%= f.radio_button :first_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :first_id, 2 %>良い</label>
            <label><%= f.radio_button :first_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :first_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :first_id, 5 %>改善した方が良い</label>
          </div>
         </div> 
         

         <div class='field'>
          <div class='field-label'>
          <%= f.label :"用途" %>
            <label><%= f.radio_button :second_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :second_id, 2 %>良い</label>
            <label><%= f.radio_button :second_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :second_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :second_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

         <div class='field'>
          <div class='field-label'>
          <%= f.label :"価格設定" %>
            <label><%= f.radio_button :third_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :third_id, 2 %>良い</label>
            <label><%= f.radio_button :third_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :third_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :third_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

          <div class='field'>
          <div class='field-label'>
          <%= f.label :"デザイン" %>
            <label><%= f.radio_button :fourth_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :fourth_id, 2 %>良い</label>
            <label><%= f.radio_button :fourth_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :fourth_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :fourth_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

          <div class='field'>
          <div class='field-label'>
          <%= f.label :"品質" %>
            <label><%= f.radio_button :fifth_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :fifth_id, 2 %>良い</label>
            <label><%= f.radio_button :fifth_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :fifth_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :fifth_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

         <div class='field'>
          <div class='field-label'>
          <%= f.label :"利益体系" %>
            <label><%= f.radio_button :sixth_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :sixth_id, 2 %>良い</label>
            <label><%= f.radio_button :sixth_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :sixth_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :sixth_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

         <div class='field'>
          <div class='field-label'>
          <%= f.label :"寿命" %>
            <label><%= f.radio_button :seventh_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :seventh_id, 2 %>良い</label>
            <label><%= f.radio_button :seventh_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :seventh_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :seventh_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

          <div class='field'>
          <div class='field-label'>
          <%= f.label :"実現可能性" %>
            <label><%= f.radio_button :eighth_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :eighth_id, 2 %>良い</label>
            <label><%= f.radio_button :eighth_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :eighth_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :eighth_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

         <div class='field'>
          <div class='field-label'>
          <%= f.label :"プレゼン力" %>
            <label><%= f.radio_button :ninth_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :ninth_id, 2 %>良い</label>
            <label><%= f.radio_button :ninth_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :ninth_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :ninth_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

          <div class='field'>
          <div class='field-label'>
          <%= f.label :"感動度" %>
            <label><%= f.radio_button :tenth_id, 1 %>素晴らしい</label>
            <label><%= f.radio_button :tenth_id, 2 %>良い</label>
            <label><%= f.radio_button :tenth_id, 3 %>どちらとも言えない</label>
            <label><%= f.radio_button :tenth_id, 4 %>あまり良くない</label>
            <label><%= f.radio_button :tenth_id, 5 %>改善した方が良い</label>
          </div>
         </div> 

          <div class='actions'>
          <%= f.submit "フィードバックを送信", class: 'btn'%>
        </div>
    <% end %>
  </div>
</div>