<h1>みんなからのフィードバック</h1>
<%= link_to '投稿内容詳細', post_path%>
<table>
  <thead>
    <tr>
      <th>コメント</th>
      <th>ユーザー</th>
      <th>総合評価</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.comment %></td>
        <td>
        <a href="/users/<%= evaluation.user.id %>">
      <%= evaluation.user.nickname %>
    </a></td>

          <!--星評価-->
        <td><div id="star-rate-<%= evaluation.id %>"></div>
          <script>
          $('#star-rate-<%= evaluation.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= evaluation.rate%>,
          });
          </script> </td>

          <% end %>
        <!--/星評価-->
      
        
      </tr>
  </tbody>
</table>




<p>①</p>
<%= pie_chart @aggregate, width: "600px"%>

<p>②</p>
<%= pie_chart @second_aggregate, width: "600px"%>

<p>③</p>
<%= pie_chart @third_aggregate, width: "600px"%>

<p>④</p>
<%= pie_chart @fourth_aggregate, width: "600px"%>

<p>⑤</p>
<%= pie_chart @fifth_aggregate, width: "600px"%>