<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="loader">
<header>
      <div class="container">
        <div class="header-left">
          <a href="/">
          <img class="logo" alt="Flower" height="50" src="/assets/logo.png" width="120" />
          </a>
        
        </div>
       <div class="header-right">
          <a href="/posts/new">投稿してみよう！</a>
          <%= link_to '投稿一覧',posts_path %>
          <a href="/top_pages/show">ランキングをみる！</a>
          <%if user_signed_in?%>
          <a href="/users/<%= current_user.id %>">ユーザーページ</a>
          <%else%>
          <%= link_to '新規登録', new_user_registration %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%end%>
        </div>
      </div>
    </header>
<body>
    
    <div class="user-secret">  
    <div class="chart-s">
    <h2>💌 <%=@nickname %>さんのシークレットページ 💌 </h2>
    </div>
    <%= image_tag @user_image , :size =>'400x320', class:"user-box-img"%>
   
    <div class="question-main">
    <h2><%= @nickname %>さん作成のアンケート一覧</h2>
    <div class="question-field">
    <% @question.each do |question| %>
    <div class="secret-name">Title:<a href="/evaluations/<%= question.id %>"><%= question.title %></a>
    <td><a data-turbolinks="false" class="dmm" href="/evaluations/<%= question.id %>">📩　アンケート結果を確認</a></td></div>
    <% end %>
   </div>

   <h2><%= @nickname %>さんが回答可能なアンケート一覧</h2>
    <div class="question-field">
    <% @answers.each do |answer| %>
    <% if answer.user.id != current_user.id%>
    <div class="secret-name">Title:<a href="/posts/<%= answer.id %>"><%= answer.title %></a>
    <td><a class="dmm" href="/posts/<%= answer.id %>">📩 アンケートに回答</a></td></div>
    <% end %>
    <% end %>
   </div>
  
    <h2>売上推移</h2>
    <%= line_chart @order_posts.group_by_day(:created_at).sum(:price), width: "800px", height: "300px",xmax: @today,label: "Value",xtitle: "日付",ytitle: "販売金額"%>
    
    <h2>作品ごと累計売上</h2>
      <% if @order_posts.select(:post_id).distinct.count == 1%>
        <%= column_chart @sales_first, width: "800px", height: "300px", :backgroundColor => "#ccffff" %> 
      <% elsif @order_posts.select(:post_id).distinct.count == 2%>
        <%= column_chart @sales_second, width: "800px", height: "300px", :backgroundColor => "#ccffff" %> 
      <% elsif @order_posts.select(:post_id).distinct.count >= 3%>
        <%= column_chart @sales_third, width: "800px", height: "300px", :backgroundColor => "#ccffff" %> 
      <% end %>  
  </div>
  <div class="follower-page">
  <p>👍 <%= @nickname %>さんのフォロワー 👍</p>
  <div class="follow-user">
  
  <% @relation.each do |relation| %>
    <a href="/users/<%= relation.user.id%>", class="follower"> 
    <%= relation.user.nickname%></a>
    <%= image_tag relation.user.image , :size =>'100x100', class:"post-user-img"%><br>
  <% end %>
  </div>
  </div>
  <h2><%= @nickname %>さんが購入した投稿一覧</h2>
    <div class="question-field">
    <% @posts.each do |post| %>
    <div class="secret-name">Title:<a href="/posts/<%= post.id %>"><%= post.title %></a>
    <td><a class="dmm" href="/posts/<%= post.id %>">📖 内容を確認</a></td></div>
    <% end %>
   </div>
</div>
</body>
</html>
