<h1>🔑 管理者用ページ</h1>
<%= link_to '管理者ページからログアウト', destroy_user_session_path, method: :delete, class:"managebtn"%>
<div class="manage-page">
<div class="total-sales">
<h2>💵 トータル取引数<h2>
<%= area_chart @data, width: "800px", height: "300px", color:"red", xmin: @lastmonth_today, xmax: @today,label: "Value",xtitle: "日付",ytitle: "販売点数"%>
</div>
<div class="user-manage">
<h2>🎀 ユーザー性別の比率</h2>
<%= pie_chart @gender_count, width: "500px", height:"350px", class:"chart"%>
<h2>😈 ユーザー年代の比率</h2>
<%= pie_chart @age_count, width: "500px", height:"350px", class:"chart"%>
<h2>📱 ユーザー職種の比率</h2>
<%= pie_chart @occupation_count, width: "500px", height:"350px", class:"chart"%>
</div>
<div class="post-manage">
<h2>📖 投稿カテゴリー①の比率</h2>
<%= pie_chart @category_count, width: "500px", height:"350px", class:"chart"%>
<h2>💡 投稿カテゴリー②の比率</h2>
<%= pie_chart @genre_count, width: "500px", height:"350px", class:"chart"%>
<h2>🎂 投稿カテゴリー③の比率</h2>
<%= pie_chart @type_count, width: "500px", height:"350px", class:"chart"%>
</div>
</div>