<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    
</head>

<div class="loader">

<header>
      <div class="container">
        <div class="header-left">
          <a href="/">
          <%= image_tag asset_path('logo.png'),alt:"trix", height:60, width:120, class:"logo" %>
          </a>
             <a href="" id="time_result" class="time"></a>
        </div>
         
        <div class="header-right">
          <%if user_signed_in?%>
          <a href="/users/<%= current_user.id %>">ユーザーページ</a>
          <%= link_to '投稿一覧',posts_path %>
          <a href="./top_pages/show">ランキングをみる！</a>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <%else%>
          <%= link_to 'テストユーザーでログイン', users_guest_sign_in_path, class: "test-log",  method: :post %>
          <%= link_to '新規登録', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%end%>
        </div>
      </div>
    </header>


<div class="main-content">

<div class="top-wrapper">
      <div class="container">
        <h1>Post Your Work.</h1>
        <h1>Let's get everyone to evaluate.</h1>
        <p>LGTMはみなさんが創作した作品やアイディアを売買、評価しあえる場です</p>
        <p>趣味、ビジネス、簡単なアンケートにもご利用頂けます</p>
        <p>あなたのアイディアを投稿し、皆さんから意見をもらいましょう！</p>
        <div class="btn-wrapper">
  
          
       <!-- Slider main container -->
      <div class="swiper-container">
    <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><div class="btn-signup">
          <a href="#" >投稿作品はtrix-editorで作成!<br>
          画像の挿入等も簡単、お手軽です！</a><br>
          <%= image_tag asset_path('trix.png'),alt:"trix", height:400, width:450, class:"trix" %>
          </div></div>
        <div class="swiper-slide"><div class="btn-evaluate">
          <a href="#" >皆さんが設定した項目をユーザーが回答!<br>
          フィードバックをもらいスキルアップ！ </a><br>
          <%= image_tag asset_path('evaluations.png'),alt:"trix", height:400, width:450, class:"trix" %>
          </div></div>
        <div class="swiper-slide"><div class="btn-third">
          <a href="#" >アンケート機能はユーザー制限可能！<br>
          幅広い用途にご利用頂けます！</a><br>
          <%= image_tag asset_path('point.png'),alt:"trix", height:400, width:450, class:"trix" %>
          </div></div>
        <div class="swiper-slide"><div class="btn-fourth">
          <a href="#" >自信のある作品は有料で売買も可能！<br>
          ユーザーページで日々の売上管理も！</a><br>
          <%= image_tag asset_path('money.jpg'),alt:"trix", height:400, width:450, class:"trix" %>
          </div></div>
        
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

          
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
