<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description" content="自己紹介ページです。">
</head>
<body>
<%= image_tag @user_image , :size =>'320x400', class:"user-box-img"%>
    <h2>プロフィール</h2>
    <P>名前：<%= @nickname %></p>
    <p>性別：<%= @gender %></p>
    <p>年齢：<%= @age %></p>
    <p>職業：<%= @occupation %></p>
    
    <h2>ひとこと</h2>
    <p>
      <%=@profile%> 
    </p>

     <div class="Card__title">
    <h2>カード情報<h2>
  </div>
  <div class="Card_info">
    【カード番号】
    <br>
    <%= "**** **** **** " + @card[:last4] %>
    <%# カード番号の下4桁を取得 %>

    <br>
    【有効期限】
    <br>
    <%= @card[:exp_month] %>
    <%# 有効期限の「月」を取得 %>
    /
    <%= @card[:exp_year] %>
    <%# 有効期限の「年」を取得 %>
  </div>

<div class="contents row">
  <h2><%= @nickname %>さんの投稿一覧</h2>
  <% @posts.each do |post| %>
    <span class="name">タイトル:<%= post.title %></span>

      <p>詳細：<%= post.content %></p>
      
    </div>
  <% end %>
</div>
<%= link_to 'Back', posts_path %>
<%= link_to '編集', edit_user_path %>
</body>
</html>
