
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="loader">
<header>
      <div class="container">
        <div class="header-left">
          <a href="/">
          <img class="logo" alt="Flower" height="50" src="/assets/logo.png" width="120" />
          </a>
          <a href="" id="time_result" class="time"></a>
        </div>
       <div class="header-right">
          <%= link_to '投稿してみる！', new_post_path %>
          <%= link_to '投稿一覧',posts_path %>
          <a href="./top_pages/show">ランキングをみる！</a>
          <%if user_signed_in?%>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <%else%>
          <%= link_to '新規登録', new_user_registration %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%end%>
        </div>
      </div>
    </header>




<div class="card-page">
<h1 class="card-h1">カード情報を登録してください</h1>

<h3 class="card-h2">※ユーザーページのご利用、記事の購入の際にはクレジットカード情報登録が必要となります。</h3>

  <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
  
  <%= form_with  url: cards_path, id: 'charge-form', class: 'card-form',local: true do |f| %>
  <div class='form-wrap'>
    <%= f.label :number, "【カード番号】" %><br>
    <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class='form-wrap'>
    <%= f.label :cvc ,"【ＣＶＣ】" %><br>
    <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面にある3桁の番号", maxlength:"4" %>
  </div>
  <div class='form-wrap'>
  <br>
    <p>【有効期限】</p>
    <div class='input-expiration-date-wrap'>
      <%= f.select :exp_month, 1..12, {include_blank: "---"}, class: "exp_month" %>
      <p>月</p>
      <%= f.select :exp_year, 20..25, {include_blank: "---"}, class: "exp_year" %>
      <p>年</p>
    </div>
  </div>
  <div class="card-btn">
  <%= f.submit "登録する" , class:"card-button" %>
  </div>
<% end %>
</div>
</div>