
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
    
</head>


<div class="loader">
<header>
      <div class="container">
        <div class="header-left">
         <a href="/">
          <img class="logo" alt="Flower" height="50" src="/assets/logo.png" width="120" />
          </a> 
           
        </div>
         
        <div class="header-right">
          <%= link_to '投稿一覧',posts_path %>
          <a href="/top_pages/show">ランキングをみる！</a>
          <%if user_signed_in?%>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <a href="/users/<%= current_user.id %>">ユーザーページ</a>
          <%else%>
          <%= link_to '新規登録', new_user_registration %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%end%>
        </div>
      </div>
    </header>

<div class="new-h1">
<h1>投稿フォーム</h1>


<%= render 'form', post: @post %>
</div>
</div>

